body{
    margin: 0%;
    background-color: #F5F6FA;
}

#app{
    display: flex;
    width: 100%;
    height: 100%;
}

#sidebar{
    background-color: white;
    width: 20%;
    height: 100vh;
    border-style: solid;
    border-color: #EBECF1;
    border-width: 2px;
    position: fixed;
}

#sidebarUser > img{
    width: 2vw;
    height: 2vw;
    border-radius: 20px;
    margin-right: 10px;
}

#sidebarUser {
    width: 100%;
    height: 3vw;
    margin-left: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #383761;
}

#sidebarSubMenu > h3{
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    color: #6E9BFF;
    margin-left: 10%;
}

.sidebarDoubleSubMenu{
    display: flex;
    margin-left: 10%;
    align-items: center;
}

.sidebar-navlink{
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    margin-left: 2%;
    color: #D6D9DE;
    text-decoration: none;
}   

.sidebar-navlink:hover{
    cursor: pointer;
    color: #6E9BFF;
}

.sidebarDoubleSubMenu > img{
    width: 20px;
    height: 20px;
}

#sidebarSubMenuOne > h3{
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    color: #6E9BFF;
    margin-left: 10%;
}

.chartcard{
    width: 100%;
    background-color: white;
    height: 30vh;
    margin: 15px;
    border-radius: 10px;
    border-color: #EBECF1;
    border-style: solid;
    border-width: 2px;
}

.Screen{
    margin-left: 20%;
    width: 100%;
    height: 100vh;
}

.navbar{
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    align-items: center;
}

.chartcard-logo{
    width: 25px;
    height: 25px;
    margin: 5px;
}

.chartcard-chartImage{
    width: 90%;
    height: 20vh;
    margin-left: 15px;
}

.navbar > img{
    height: 5vh;
    margin-left: 10px;
}

.organizerdivOne{
    display: flex;
    width: 100%;
}

.myTable{
    background-color: white;
    margin-left: 35px;
    margin-top: 15px;
    border-style: solid;
    border-color: #EBECF1;
    border-width: 2px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}

.myTable > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.myTable > div > h2{
    font-size: 13px;
}

.myTable > div > h3{
    font-size: 13px;
    color: #D6D9DE;
}

.company-card{
    width: 30%;
    background-color: white;
    height: 30vh;
    margin: 15px;
    border-radius: 10px;
    border-style: solid;
    border-color: #EBECF1;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-card-logo-img{
    width: 25%;
    margin-top: 15px;
}

.company-card-subdiv-company-status{
    display: flex;
    font-size: 10px;
    font-family: 'Inter';
    color: #D6D9DE;
    align-items: center;

}

.company-card-subdiv-company-status > img{
    width: 20px;
    height: 20px;
}

.company-card-subdiv-company-name{
    width: 100%;
    display: flex;
    font-size: 10px;
    margin-left: 25px;
    font-family: 'Inter';
    font-style: bold;
}

.company-card-subdiv-decoration-line{
    width: 90%;
    height: 2px;
    background-color: #D6D9DE;
}

.burn-mint-title{
    font-size: 30px;
    font-family: 'Inter';
    font-style: bold;
    margin-left: 15px;
    color: #383761;
}

.burn-mint-card-container{
    display: flex;
    margin-left: 50px;
    flex-wrap: wrap;
}

.company-card:hover{
    cursor: pointer;
    color: #6E9BFF;
}

.options-title{
    font-size: 30px;
    font-family: 'Inter';
    font-style: bold;
    margin-left: 15px;
    color: #383761;
}